.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-item__info {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
  
  .order-item__info > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    color: #3d3d3d;
  }
  
  .order-item__info > div > h4 {
    margin: 0;
    font-size: 14px;
  }
  
  .order-item__info > div > p {
    margin: 0;
    font-size: 12px;
  }
  
  .order-item__price {
    color: #3d3d3d;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .image {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbf9f9;
    border: 1px solid #d1cdcd;
    border-radius: 10px;
  }
  
  .image > img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }
  .order-total {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    font-weight: 600;
    color: #474747;
  }
  .order-details {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1.4rem 0;
    /* border-top: 1px solid #cac9c9; */
    border-bottom: 1px solid #cac9c9;
  }
  
  .order-details > div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #787777;
  }
  
  .order-details > div .question-mark {
    color: #787777;
  }
  
  .price {
    font-weight: 900;
    color: #525252;
  }
  